# Mac stuff
.DS_Store
# Python stuff
__pycache__/

# Python virtual environment
venv
.venv

# vscode workspace settings
.vscode

# Any database files
*.db

# Environment file
*.env

# Deploy script
deploy.sh
DEPLOY_RUNBOOK.local.md
private_key.pem
public_key.pem

# Database related
/database
