.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #e3f2fd;
}

th,
td {
  text-align: center;
}

.new_contact {
  color: red !important;
  font-weight: bold;
}

.center{
  text-align: center;
}

#map {
  min-height: 0;
  height: 90vh;
}

#map .leaflet-popup-content p{
  margin: 0.5rem 0;
}

#map .leaflet-popup-content p{
  margin: 0.5rem 0;
}

@media only screen and (max-device-width: 812px) { 
    .for_big_screens{
      display: none;
    }
}