
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #e3f2fd;
}

th,
td {
  text-align: center;
}

.navbar-nav > li > .dropdown-menu {     background-color: #0d6efd !important;  }
.navbar-nav > li > .dropdown-menu a{   color: #e3f2fd !important;  }
a.dropdown-item:hover{  background-color: #0d6efd !important;}


.new_contact *{
  color: #d84315 !important;
  font-weight: bold;
}

.center{
  text-align: center;
}

#map {
  min-height: 0;
  height: 90vh;
}

#map .leaflet-popup-content p{
  margin: 0.5rem 0;
}

#map .leaflet-popup-content p{
  margin: 0.5rem 0;
}

@media screen and (max-width: 812px) { 
    .for_big_screens{
      display: none;
    }
}