{% extends "index.html" %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
        <th>{{award_name}} Award</th>
        <th>New QSLs</th>
        <th>QSLs In Process</th>
        <th>Credits Awarded</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for row in award %}
    <tr>
        <td>{{ row['award'] | safe}}</td>
        <td>{{ row['new'] }}</td>
        <td>{{ row['in_process'] }}</td>
        <td>{{ row['awarded'] }}</td>
        <td>{{ row['total'] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{{page_url}}" target="_new"><em>See full details on LotW</em></a> 
{% endblock %}

