{% extends "index.html" %}



{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th 
                {% if award == 'DXCC' %} style="text-align: center;">DXCC Entity
                {% elif award == 'WAS' %} style="text-align: center;">US State
                {% elif award == 'VUCC' %} style="text-align: center;">Grid Square
                {% elif award == 'WPX' %} style="text-align: center;">Prefix
                {% else  %} style="text-align: center;">WAZ Zone
                {% endif %}
                </th>
            <th style="text-align: center;">{{th}}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in award_details %}
        <tr>
        <td 
        {% if award == 'DXCC' %} style="text-align: center;">
        {% elif award == 'WAZ' %} style="text-align: center;">
        {% elif award == 'VUCC' %} style="text-align: center;">
        {% else  %} style="text-align: center;">
        {% endif %}
        {{ row['label'] }}</td>
        
        <td style="text-align: center;">            
        {{ row['value'] | safe }}</td>
        </tr>
        {% endfor %}
</tbody>
</table>

{% endblock %}

