{% extends "index.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
        <th>Worked</th>
        <th>Band</th>
        <th>Mode</th>
        <th>QSL</th>
    </tr>
    </thead>
    <tbody>
        {% for row in new_qsls %}
        <tr>
            <td class="new_contact">{{ row[0] }}</td>
            <td class="new_contact">{{ row[1] }}</td>
            <td class="new_contact">{{ row[2] }}</td>
            <td class="new_contact">{{ row[3] | safe }}</td>
        </tr>
        {% endfor %}
        {% for row in previous_qsls %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] | safe }}</td>
    </tr>
        {% endfor %}
</tbody>
</table>

<a href="{{qsls_page_url}}" target="_new"><em>See full details on LotW</em></a> 
{% endblock %}