{% extends "index.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
        <th>State</th>
        <th>CW</th>
        <th>Phone</th>
        <th>Digital</th>
    </tr>
    </thead>
    <tbody>
    {% for row in triple %}
    <tr>
        <td>{{ row['state'] }}</td>
        <td>{{ row['cw'] | safe }}</td>
        <td>{{ row['phone'] | safe }}</td>
        <td>{{ row['digital'] | safe }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<em>* indicates award has been issued</em><br />
<a href="{{triple_page_url}}" target="_new"><em>See full details on LotW</em></a> 
{% endblock %}

