@import "tailwindcss";
@tailwind utilities;


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: 'password';
  src: url(/static/text-security-disc.ttf);
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}
