{% extends "index.html" %}

{% block content %}
<div style="text-align: left"; class="mt-3">
<h1>Requesting Account Deletion</h1>

<p>
If you wish to have your Mobile LotW account and associated data deleted, 
please send an email to info@mobilelotw.org including the following information:

<ul>
    <li>Your callsign</li>
    <li>A statement saying you would like your account and associated information
    deleted.</li>    
</ul>

Your account and associated data will be deleted within five (5) business days 
of receipt.
</p>
</div>
{% endblock %}