<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TEQF5W3DWJ"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-TEQF5W3DWJ");
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://kit.fontawesome.com/8c5441708a.js"
      crossorigin="anonymous"
    ></script>

    {% block header_links %}{% endblock %}

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="/static/favicon.ico" />

    <script src="https://unpkg.com/webtonative@1.0.50/webtonative.min.js"></script>

    {{ one_signal_block | safe}}

  </head>

  <body>
    {% include "components/navbar.html" %}

    <main role="main" class="container">
      <div class="container text-center mt-3">
        <div class="row">
          <div class="col">
            {% include "components/flashes.html" %}
            <h2>{{ title }}</h2>
            {% block content %}{{ content|safe }}{% endblock %}
          </div>
        </div>
      </div>

      <br />
      <br />
    </main>
    <!-- /.container -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
