{% extends "index.html" %}

{% block content %}
  <br />
  <form action="#" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <p>
      <input
        type="text"
        name="login"
        placeholder="Your callsign"
        class="form-control-lg"
        required
      />
    </p>
    <p>
      <input
        type="password"
        name="password"
        placeholder="Your LotW password"
        class="form-control-lg"
        required
      />
    </p>
    <p>
      <button class="btn btn-warning btn-lg" type="submit">Submit&nbsp;&nbsp;
      <i class="fa-solid fa-bolt-lightning fa-beat"></i></button>
    </p>
  </form>
{% endblock %}
