{% extends "index.html" %}

{% block header_links %}
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  />
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{% endblock %}

{% block content %}
  <div id="map"></div>
{% endblock %}

{% block scripts %}
  <!-- prettier-ignore-start -->
  <script>
    const marker_locations = {{marker_locations|safe}}
    
    var map = L.map('map').setView([38.415233017977265, -82.4395322247184], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var markers = L.markerClusterGroup({ disableClusteringAtZoom: 8 });


    for(location_ of Object.values(marker_locations)){
      marker = L.marker([location_.lat, location_.long])
      marker.bindPopup(`<p class="center"><b>${location_.gridsquare}</b></p>`+location_.report, {
        "maxHeight":250
      })
      markers.addLayer(marker);
    }
    map.addLayer(markers);
  </script>
<!-- prettier-ignore-end -->
{% endblock %}
