{% extends "index.html" %}

{% block content %}
<table class="table ">
  <tbody>
    {% set user, other = qso_report.table_values() %}
    {% for label, value in user.items() %}
      <tr>
        <td 
          style="text-align: left; 
          {% if loop.first %} 
          background-color: #e3f2fd;
          {% endif %}"
        >            
          <b>{{ label }}</b>
        </td>
        
        <td 
          style="text-align: left; 
          {% if loop.first %} 
          background-color: #e3f2fd;
          {% endif %}"
        >              
          {{ value }}
        </td>
      </tr>
    {% endfor %}
    {% for label, value in other.items() %}
    <tr>
      <td 
        style="text-align: left; 
        {% if loop.first %} 
        background-color: #e3f2fd;
        {% endif %}"
      >            
        <b>{{ label }}</b>
      </td>
      
      <td 
        style="text-align: left; 
        {% if loop.first %} 
        background-color: #e3f2fd;
        {% endif %}"
      >              
        {{ value }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}